$link-color: #34596e;
$nav-child-link-color: #34596e;
$btn-primary-color: $blue-100;
$sidebar-color: $white;
$body-font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
$body-text-color: #383838;


$border-color: $white;

$body-line-height: 1.6 !default;
$content-line-height: 1.6 !default;
$body-heading-line-height: 2.0;

$header-height: 100px;